{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Book</h1>
  {% for book in book %}
    <div class="card" style="width: 18rem;">
      <img src="{{ book.image.url }}"  alt="not found image">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Authour: {{book.author}}</li>
          <li class="list-group-item">Price: {{book.price}} </li>
          <li class="list-group-item">Count: {{book.count}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
    </div>
  {% endfor %}
{% endblock %}